
  <div id="maccount-balances" class="form-container1">
    <div class="form-container2">
      <h2 class="balance-bg-color">Account Balances</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Account</th>
              <th scope="col" class="right-align">Balance</th>
            </tr>
          </thead>
          <tbody class="table-row">
              <% @maccounts.each do |maccount| %>
              <% if current_user.id == maccount.user_id %>
                  <tr>
                      <th scope="row"><%= link_to maccount.name, maccount_path(maccount.id) %></th>
                      <% total = 0 %>
                      <% maccount.mentries.each do |mentry| %>
                        <% total += mentry.amount %>
                      <% end %>
                      <td scope="row" align="right"><%= number_to_currency(total) %></td>
                  <% end %>
              <% end %>
                  </tr>
          </tbody>
        </table>
    </div>
  </div>
