<div id="spending-filtered" class="form-container3">
  <div class="form-container4">
    <h2>Spending Breakdown</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody class="table-row">
          <% cat_not_zero_filtered.each do |mcategory| %>
            <tr>
                <th scope="row">
                  <%= link_to mcategory.name, mcategory_path(mcategory.id) %>
                </th>
                  <% total = 0 %>
                  <% mcategory.mentries.each do |entry| %>
                    <% if entry.mtype.name != 'transfer from' %>
                      <% if entry.mtype.name != 'transfer to' %>
                        <% if entry.mtype.name != 'deposit' %>
                          <% if entry.mcategory.name != 'paycheck' %>
                            <% if entry.date.to_s > @from_date %>
                              <% if entry.date.to_s < @to_date %>
                                <% total += entry.amount %>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <td scope="row" align="right">
                    <%= number_to_currency(total * -1) %>
                </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
