<div id="spending-filtered" class="form-container3">
  <div class="form-container4">
    <h2>Spending Breakdown</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody class="table-row">
          <% cat_not_zero_filtered.each do |mcategory| %>
            <tr>
                <th scope="row">
                  <%= link_to mcategory.name, mcategory_path(mcategory.id) %>
                </th>
                  <% total = 0 %>
                  <% mcategory.mentries.each do |entry| %>
                    <% if entry.mtype.name != 'transfer' %>
                      <% if entry.mcategory.name != 'paycheck' %>
                        <% if entry.date.to_s > @from_date && entry.date.to_s < @to_date %>
                          <% total += entry.amount %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <th scope="row">
                    <%= number_to_currency(total * -1) %>
                </th>
            <% end %>
            </tr>
      </tbody>
    </table>
  </div>
</div>
