<h1>Dashboard</h1>

<h2>New Entry</h2>
<%= render 'mentries/form', mentry: @mentry %>

<h2>Account Balances</h2>
<%= render 'dashboard/maccount_balances' %>

<h2>Spending Breakdown</h2>
<% if user_signed_in? %>
  <%= render 'dashboard/spending' %>
<% else %>
  <%= render 'loggedout' %>
<% end %>
