<h1>Dashboard</h1>

<%= render 'dashboard/maccount_balances' %>

<h2>Spending Breakdown</h2>
<% if user_signed_in? %>
  <%= render 'dashboard/spending' %>
<% else %>
  <%= render 'loggedout' %>
<% end %>
