<h1>Dashboard</h1>

<h2>Checking Balance</h2>
<p><%= account_sum %></p>

<h2>Spending Breakdown</h2>
<% if user_signed_in? %>
  <%= render 'dashboard/spending' %>
<% else %>
  <%= render 'loggedout' %>
<% end %>
