

<div class="form-container1">
  <div class="form-container2">
      <h1>Editing Location</h1>
        <%= render 'form', mlocation: @mlocation %>

        <%= link_to 'Show', @mlocation %> |
        <%= link_to 'Back', mlocations_path %>
  </div>
</div>
