
<p>
  <strong>Name:</strong>
  <% if current_user.id == @mlocation.user_id %>
    <%= @mlocation.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_mlocation_path(@mlocation) %> |
<%= link_to 'Back', mlocations_path %>
