<div class="form-container1">
  <div class="form-container2">
    <h1>Editing Account</h1>

    <%= render 'form', maccount: @maccount %>

    <%= link_to 'Show', @maccount %> |
    <%= link_to 'Back', maccounts_path %>
  </div>
</div>
