
<div class="form-container1">
  <div class="form-container2">
    <h1>Accounts</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @maccounts.each do |maccount| %>
          <% if current_user.id == maccount.user_id %>
            <tr>
                <td><%= link_to maccount.name, maccount_path(maccount.id) %></td>
                <td><%= link_to 'Edit', edit_maccount_path(maccount) %></td>
                <% if maccount.name == 'checking' %>
                  <% if maccount.name == 'savings' %>
                    <% if maccount.name == 'credit card' %>
                      <td><%= link_to 'X', maccount, method: :delete, data: { confirm: 'If you delete this account all entries associated with this account will also be deleted. Are you sure you want to do this?' } %></td>
                    <% end %>
                  <% end %>
                <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <br>
    <p> <%= link_to 'New Account', new_maccount_path %></p>
  </div>
</div>
