
<div class="form-container1">
  <div class="form-container2">
    <h1>Accounts</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @maccounts.each do |maccount| %>
          <% if current_user.id == maccount.user_id %>
            <tr>
                <td><%= link_to maccount.name, maccount_path(maccount.id) %></td>
                <td><%= link_to 'Edit', edit_maccount_path(maccount) %></td>
                <td><%= link_to 'X', maccount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <br>
    <p> <%= link_to 'New Account', new_maccount_path %></p>
  </div>
</div>
