
<h1>
  <strong>Name:</strong>
  <% if current_user.id == @mcategory.user_id %>
    <%= @mcategory.name %>
  <% end %>
</h1>

<%= render 'mcategories/entries' %>
<%= link_to 'Edit', edit_mcategory_path(@mcategory) %> |
<%= link_to 'Back', mcategories_path %>
