<p id="notice"><%= notice %></p>

<div class="white-space">

</div>

<div class="table-container1">
  <div class="table-container2">
    <h1>Entries</h1>
    <%= render 'dashboard/entries' %>
    <br>
    <%= link_to 'New Entry', new_mentry_path %>
  </div>
</div>
