.container-1 {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: left;
  font-weight: bold;
  // padding: 5px 5px 5px 15px;
  font-size: 24px;
  // margin: -7px -7px 0;
  // background-color: #c00;
  // color: #fff;
  font-family: 'IBM Plex Serif', serif;
}

h2 {
    text-align: left;
    font-weight: bold;
    // padding: 5px 5px 5px 15px;
    font-size: 18px;
    // margin: -7px -7px 0;
    // background-color: #c00;
    // color: #fff;
    font-family: 'IBM Plex Serif', serif;
  }

.brand-font {
  font-family: 'Caveat', cursive;
  font-size: 44px;
}
