<div class="footer-margin1">
  <div class="footer-margin2">
    <footer class="card-footer bg-light footer-font-style text-muted footer-position">(c)2018 | <a href="https://github.com/josephcardillo/mooostachio">Github</a></footer>
  </div>
</div>
